{% extends 'layout.html.twig' %}
{% block title %}Page de Mentions légales{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/legales.css">{% endblock %}
  {% block content %}

    &nbsp;
      </br></br>
      <hr />
    <h1>"Mentions légales"</h1>


    <hr />
<div class="col-md-12">


    <h1>1 – INFORMATIONS EDITEUR</h1>

    <hr />
    </br></br>
    <p>Ce site est la propriété de Havre de l'Ill, SAS enregistrée au RCS de Strasbourg sous le numéro de siret xxxxxxxxxxx
        Havre de l'Ill</p>
    <p> 1 quai Mulhenheim 67000-STRASBOURG</p>
    <p >Tél : (+33)3.08.99.04.04</p>
    <p>Mail : infos@Havre_de_lill.com</p>
    <p>Directeur de la publication : Monsieur Franck OLIVIR</p>


    <hr />

    <h1>2 – HÉBERGEMENT – SÉCURITÉ – FONCTIONNEMENT</h1>
    <hr />
    </br></br>
    <p>Le site est hébergé par la société XXX. L’utilisateur du présent site reconnaît disposer de la compétence, des moyens nécessaires pour accéder et utiliser ce site et avoir vérifié que la configuration informatique utilisée ne contient aucun virus et qu’elle est en parfait état de fonctionnement.</p>
    <p >L’utilisateur reconnaît avoir été informé que le présent site est accessible 24 heures sur 24 et 7 jours sur 7, à l’exception des cas de force majeure, difficultés informatiques, difficultés liées à la structure des réseaux de communications ou difficultés techniques.</p>
    <p>Le contenu de ce site Internet peut comporter des inexactitudes ou omissions, ce contenu est susceptible d’être modifié ou mis à jour dans de brefs délais.
        Malgré tous les soins apportés à la réalisation de ce site et à son actualisation régulière, des erreurs peuvent s’être glissées dans les informations et/ou documents présentés. Les informations disponibles dans ce site sont fournies à titre indicatif, et sont non contractuelles. A ce titre, Havre de l'Ill ne saurait supporter aucune demande de dédommagement pour préjudice direct ou indirect subi par l’internaute à la suite de la consultation des informations contenues dans ce site.</p>
    <p >Pour des raisons de maintenance, Havre de l'Ill pourra interrompre le site à tout moment. Havre de l'Ill mettent tout en œuvre pour offrir aux utilisateurs des informations et outils disponibles et vérifiés, mais ne saurait être tenue pour responsable des erreurs, d’une absence de disponibilité des informations ou de la présence de virus sur le site.</p>


    <hr />

    <h1 >3- DROITS DE PROPRIÉTÉ INTELLECTUELLE</h1>

    <hr />
    </br></br>
    <p >Tous les textes, ouvrages, illustration et images reproduits sur le site Havre de l'Ill sont la propriété de Monsieur Franck OLIVIER, sont soumis aux droits d’auteur et sont reproductibles uniquement à usage privé. Les droits reconnus aux auteurs ou aux titulaires de droits voisins par le Code de la Propriété Intellectuelle sont réservés.</p>
    <p >L’ensemble de ce site relève de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. Il en est de même des bases de données figurant sur le site web, qui sont protégées par les dispositions de la loi du 1er juillet 1998 portant transposition dans le Code de la propriété intellectuelle (article L112-3) de la directive européenne du 11 mars 1996 relative à la protection juridique des bases de données, et dont Havre de l'Ill est producteur.</p>
</div>
{% endblock %}