{% extends 'layout.html.twig' %}
{% block title %}Page de Reservation{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/localisation.css">{% endblock %}
  {% block content %}

      <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
          <h1> {{ myDate }}
              </h1>
          {% include 'Reservation/Select.html.twig' %}
      </div>


  {% endblock %}