<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Croissant+One|Open+Sans">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script> <!-- Package d'icons -->
</head>

<body>

<header>
    <nav id="navbar">
        <!-- Navbar Logo -->
        <a href="/Accueil"><img class="logo"
                                src="http://res.cloudinary.com/tiffanym/image/upload/q_100/v1522689405/Havre_de_l_Ill_rsg526.png"
                                alt="logo"></a>
        <div class="nav-wrapper">
            <!-- Navbar Links -->
            <ul id="menu">
                <li><a href="/Chambres">NOS CHAMBRES</a></li>
                <li><a href="/Reservation">RÉSERVATION</a></li>
                <li><a href="/Localisation">LOCALISATION</a></li>
                <li><a href="/Parlementaires"><img class="drapeauEurope"
                                                   src="http://res.cloudinary.com/tiffanym/image/upload/q_100/v1521753995/Drapeau-Europe_k876hd.png"
                                                   alt="drapeauEurope"> MEP</a></li>

            </ul>
        </div>
    </nav>


    <!-- Menu Icon -->
    <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu">
        <ul id="menu">
            <li><a href="/Accueil">ACCUEIL</a></li>
            <li><a href="/Chambres">NOS CHAMBRES</a></li>
            <li><a href="/Reservation">RÉSERVATION</a></li>
            <li><a href="/Localisation">LOCALISATION</a></li>
            <li><a href="/Parlementaires" style="font-size: 6px;"><img class="drapeauEurope"
                                               src="http://res.cloudinary.com/tiffanym/image/upload/q_100/v1521753995/Drapeau-Europe_k876hd.png"
                                               alt="drapeauEurope"> MEP</a></li>
        </ul>

    </div>



</header>

{% block content %}{% endblock %}

<button onclick="topFunction()" id="myBtn" title="haut de page"><span class="glyphicon glyphicon-chevron-up"
                                                                      aria-hidden="true"></span></button>
<button onclick="topFunction()" id="form" title="Message" data-toggle="modal" data-target="#myModal"><span
            class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title" id="myModalLabel">Notre formulaire</h1>

            </div>
            <div class="modal-body">
                <h6 class="modal-title" id="myModalLabel">Pour toute information, ou toutes questions, n'hesitez pas à
                    nous contacter via notre formulaire ci dessous</h6></br>
                <form id="mainForm" name='formulaire'>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount"></label>
                        <div class="input-group">
                            <div class="input-group-addon">N</div>
                            <input type="text" class="form-control" name="nomMail" id="nomMail" placeholder="Nom"
                                   required>
                        </div>
                        </br>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount"></label>
                            <div class="input-group">
                                <div class="input-group-addon">P</div>
                                <input type="text" class="form-control" name="prenomMail" id="prenomMail"
                                       placeholder="Prenom" required>
                            </div>
                            </br>
                            <br class="form-group">
                            <label class="sr-only" for="exampleInputAmount"></label>
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                <input type="mail" class="form-control" name="adresseMail" id="adresseMail"
                                       placeholder="E-mail" required>
                            </div>
                            </br>
                            <br class="form-group">
                            <label class="sr-only" for="exampleInputAmount"></label>
                            <div class="input-group">
                                <div class="input-group-addon">Msg</div>
                                <textarea class="form-control" rows="3" name="contenuMail" id="contenuMail"
                                          placeholder="Tapez votre message ici" required></textarea>
                            </div>
                            </br>
                            <button id="envoyer" type="submit" class="btn btn-localisation">Envoyer</button>
                            </br></br>
                            <div id="messageSend">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Button  -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 center-block">
                <img class="footerLogo"
                     src="http://res.cloudinary.com/tiffanym/image/upload/q_100/v1522689405/Havre_de_l_Ill_rsg526.png"
                     alt="logo">
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-12 ">
                <p class="mentionsLegales">LE HAVRE DE L'ILL © 2018 - Tous droits réservés - Adresse - Tél. : ... <br>
                    Réalisation Clément, Zak Tiffany</p>
            </div>
        </div>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

{% block javascript %}{% endblock %}
<script>

    // Navigation
    // Responsive Toggle Navigation =============================================
    let menuIcon = document.querySelector('.menuIcon');
    let nav = document.querySelector('.overlay-menu');

    menuIcon.addEventListener('click', () => {
        if (nav.style.transform != 'translateX(0%)') {
            nav.style.transform = 'translateX(0%)';
            nav.style.transition = 'transform 0.2s ease-out';
        } else {
            nav.style.transform = 'translateX(-100%)';
            nav.style.transition = 'transform 0.2s ease-out';
        }
    });


    // Toggle Menu Icon ========================================
    let toggleIcon = document.querySelector('.menuIcon');

    toggleIcon.addEventListener('click', () => {
        if (toggleIcon.className != 'menuIcon toggle') {
            toggleIcon.className += ' toggle';
        } else {
            toggleIcon.className = 'menuIcon';
        }
    });






    $(document).ready(function () {

        //Check to see if the window is top if not then display button
        $(window).scroll(function () {
            if ($(this).scrollTop() > 20) {
                $('#myBtn').fadeIn();
            } else {
                $('#myBtn').fadeOut();
            }
        });

        //Click event to scroll to top
        $('#myBtn').click(function () {
            $('html, body').animate({scrollTop: 0}, 800);
            return false;
        });

// envoi mail avec js+ajax

        $(function () {
            $('#envoyer').click(function () {


                var data = {
                    nom: $("#nomMail").val(),
                    prenom: $("#prenomMail").val(),
                    mail: $("#adresseMail").val(),
                    message: $("#contenuMail").val()
                };


                if (!($("#nomMail").val() === "") && !($("#PrenomMail").val() === "") && !($("#adresseMail").val() === "") && !($("#contenuMail").val() === "")) {
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:8000/Contact/mail",
                        data: data,
                        success: function () {

                            $('input').css('border-color', '#999');
                            $('textarea').css('border-color', '#999');
                            $('#messageSend').replaceWith('<div class="alert alert-success" role="alert">' + 'Message envoyé' + '</div>');
                        }

                    });
                } else {
                    $('input').css('border-color', 'red');
                    $('textarea').css('border-color', 'red');
                    $('#messageSend').append('<div class="alert alert-warning" role="alert">' + 'veuillez remplir tous les champs' + '</div>');
                }

                return false;

            });


        });

        // Wait for the DOM to be ready


    });
</script>

</body>
</html>
