<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Pages d'Administration</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->


    <!-- Custom styles for this template -->
    <link href="/assets/css/dashboard.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script> <!-- Package d'icons -->

    {% block stylesheet %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Havre de l'Ill</a>
    <p class="titre-admin">Bonjour M. Olivier </p>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/Logout">Déconnexion <span data-feather="log-out"></span></a>

        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="">
                            <span data-feather="home"></span>
                            Tableau de bord <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <div class="alert alert-dark" role="alert">
                    <h5  class="">
                        <a class="nav-link" href="">
                            <span data-feather="file"></span>
                        <span>Accueil</span>
                        <a class="d-flex align-items-center text-muted" href="">

                        </a>
                    </h5>
                    </div>
                            <ul class="nav flex-column mb-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Administration/DiapoAccueil">
                                        <span data-feather="image"></span>
                                        Diapos
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/Administration/ArticlesAccueil">
                                        <span data-feather="file-text"></span>
                                        Articles
                                    </a>
                                </li>
                            </ul>
                    <div class="alert alert-dark" role="alert">
                    <h5 class=" ">
                        <a class="nav-link" href="/Administration/Localisation">
                            <span data-feather="map-pin"></span>
                            <span>Localisation</span>
                            <a class="d-flex align-items-center text-muted" href="#">

                            </a>
                    </h5>
                    </div>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/Administration/Localisation">
                                <span data-feather="file-text"></span>
                                Informations
                            </a>
                        </li>
                    </ul>
                    <div class="alert alert-dark" role="alert">
                    <h5 class="">
                        <a class="nav-link" href="">
                            <span data-feather="home"></span>
                            <span>Chambres</span>
                            <a class="d-flex align-items-center text-muted" href="#">

                            </a>
                    </h5>
                    </div>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="/Administration/Chambres">
                                    <span data-feather="image"></span>
                                    Modifier/Supprimer
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/Administration/NouvelleChambre">
                                    <span data-feather="file-text"></span>
                                    Nouvelle Chambre
                                </a>
                            </li>
                        </ul>
                    <div class="alert alert-dark" role="alert">
                    <h5 class="">
                        <a class="nav-link" href="">
                            <span data-feather="shield"></span>
                            <span>Parlementaires</span>
                            <a class="d-flex align-items-center text-muted" href="#">

                            </a>
                    </h5>
                    </div>
                            <ul class="nav flex-column mb-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Administration/Parlementaires">
                                        <span data-feather="file-text"></span>
                                        Articles
                                    </a>
                                </li>
                            </ul>



                    <div class="alert alert-dark" role="alert">
                <h5 class="">
                    <a class="nav-link" href="">
                        <span data-feather="calendar"></span>
                        <span>Réservations</span>
                        <a class="d-flex align-items-center text-muted" href="#">

                        </a>
                </h5>
                </div>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/Administration/CalendrierAdmin">
                            <span data-feather="calendar"></span>
                            Calendrier
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Administration/ReservationsEnAttente">
                            <span data-feather="check-square"></span>
                            A valider
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Administration/BloquerChambre">
                            <span data-feather="slash"></span>
                            Bloquer une chambre
                        </a>
                    </li>
                </ul>
            </div>
        </nav>



        <main role="main" class="col-md-8 ml-sm-auto col-lg-9 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Tableau de bord</h1>
                <div class="btn-toolbar mb-2 mb-md-0">

                    <button class="btn btn-sm btn-outline-secondary ">
                        <span data-feather="calendar"></span>
                       Réservation en Attente
                    </button>
                </div>
            </div>

            {% block content %}{% endblock %}

            <canvas class="my-4" id="myChart" width="900" height="380"></canvas>


        </main>
    </div>
</div>





<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

</body>
</html>