{% extends 'Administration/Administration.html.twig' %}

    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/admin.css">
    {% endblock %}

{% block content %}
    <div class="container-fluid">

        <h3>Modification des photos du diaporama de la page d'accueil :</h3>

        <br>

        <div class="jumbotron">
            <div class="row">
                {% for diapo in diapos %}

                    <div class="col-md-3 text-center">
                        <br>
                        <img  src="{{ diapo.urlImage }}" alt="Other Slide" class="img-thumbnail">
                        <br>
                        <br class="form-group"  action="" method="POST"></br>
                        <input type="submit" class="btn btn-danger center-block" value="supprimer" name="{{ diapo.id }}"/>
                        </form>
                        <br>
                    </div>

                {% endfor %}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Photos à ajouter :</h3>
                <form class="form-group" action="" method="POST" enctype="multipart/form-data">
                    <input type="file" class="btn btn-outline-dark" name="file[]" multiple="multiple"/>
                    <input type="submit" class="btn btn-success center-block" value="Envoyer" name="send"/>
                </form>
                <p>{{ message }}</p>
            </div>
        </div>

    </div>
{% endblock %}



