{% extends 'Administration/Administration.html.twig' %}

    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/admin.css">
    {% endblock %}

{% block content %}
    <div class="container-fluid">

        <h3>Modification des articles de la page parlementaires :</h3>

        <br>


        <div class="jumbotron container-fluid">
            <div class="row">
                {% for article in articles %}
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <form action="" method="post" class="form-group" enctype="multipart/form-data">
                            <div class="">
                                <input type="hidden" name="id" value="{{ article.id }}">
                                <br>
                                <img  name="urlImage" src="{{ article.urlImage }}" alt="image" class="img-thumbnail"></br>
                                <br>
                                <input type="file"  class="btn btn-outline-dark" name="urlImage"/></br>

                                <br>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Titre</span>
                                    </div>
                                    <input type="text" class="form-control" name="titre" value="{{ article.titre }}" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <br>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Texte</span>
                                    </div>
                                    <textarea class="form-control" name="texte" aria-label="With textarea">{{ article.texte }}</textarea>
                                </div></br>
                            </br>
                            <div>
                                <input type="submit" name="modifier" value="Modifier" class="btn btn-warning"/>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}