{% extends 'Administration/Administration.html.twig' %}

    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/admin.css">
    {% endblock %}

{% block content %}
    <div class="container-fluid">

        <h3>Réservations en attente de validation :</h3>

        <br>
        {% for resa in resas %}
        <div class="jumbotron">
            <div class="row">

                    <div class="col-md-9 text-center">

                        <br>
                    </div>
                    <div class="col-md-3 text-center">
                        <form class="form-group"  action="" method="POST">
                            <input type="submit" class="btn btn-danger center-block" value="Valider" name=""/>
                            <input type="submit" class="btn btn-danger center-block" value="Refuser" name=""/>
                        </form>
                        <br>
                    </div>
            </div>
        </div>
        {% endfor %}
        <br>
    </div>
{% endblock %}



