/* Carrousel */
.carousel{
    background: #2f4357;
    margin-right : 0 auto;
    margin-left: 0 auto;
    max-height: 600px;
    overflow: hidden;
}
.carousel .item{
    max-height: 600px; /* Prevent carousel from being distorted if for some reason image doesn't load */
    min-width: 100%;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.slider{
	margin: 0px;
}

section {
    padding-top: 131px;
}



.column#zoomIn img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.column#zoomIn:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}




 /* Page accueil version mobile */
@media only screen and (max-width: 767px) {

    .carousel{
        max-height: 300px;
        overflow: hidden;
    }

  }
