/* Carrousel */
.carousel{
    background: #2f4357;
    margin-right : 0 auto;
    margin-left: 0 auto;
}
.carousel .item{
    max-height: 600px; /* Prevent carousel from being distorted if for some reason image doesn't load */
    min-width: 100%;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.slider{
	margin: 0px;
}

 /* Page accueil version mobile */
@media only screen and (max-width: 767px) {
/* Rien pour l'instant */
  }
