.img-thumbnail {
    height: 250px;
    width: 250px;
    overflow: hidden;
}

h3 {
    text-align: center;
}

.form-control-file {
    text-align: center;

}
.sidebar .nav-link .feather {
     margin-right: 4px;
     color: #474646;
 }
svg:not(:root) {
    overflow: hidden;
}
.feather {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}