h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #dbb875;
}
.chambres{
	display: inline;
}

/* Carrousels Chambres*/
.carchambres {
    background: #ffffff;
    margin-top: 0px;
    margin-right: 0 auto;
    margin-left: 0 auto;
    height: 250px;
    width: 250px;
}
.carchambres .item{
    min-height: 0px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carchambres .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
/*Formulaire de critères*/
.critere{
    text-align: center;
}
.btn{
    background-color: #dbb875;
    color:#ffffff;
}
.btn:hover{
    color:#0d153c;
}