/*Footer*/

footer {
  bottom: 0;
  width: 100%;
  height: 120px;
  background: transparent;
  text-align: center;
}

.footerLogo {
  padding-top: 20px;
  width: 100px;
}

.mentionsLegales {
  font-size: 10px;
  color: grey;
}

/*Footer version mobile*/

@media only screen and (max-width: 767px) {
  footer {
/* Rien pour l'instant*/
  }
