.controls {
    text-align: left;
}

.input-group-addon {
    background-color: #dbb875;
    min-width: 150px;
    color: white;
}

.input-group { width: 100%; }
button{
    background: #dcba79;
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
}