/* Header */
.logo {
    height: 8.1vw;
    margin-top: -0.5vw;
}

.navbar {
    font-size: 1.4vw;
    font-family: 'Croissant One', cursive;
    background-color: white;

}

.navbar-default .navbar-nav > li > a {
    color: #0d153c;
    height: 130px;
    padding-top: 3.8vw;
    padding-left: 5vw;
}

.collapse .navbar-nav > li > a:hover {
    background-color: ;
    color: #dbb875;
}

.drapeauEurope {
    height: 20px;
    margin-top: -3px;
}

/* Header version mobile */
@media only screen and (max-width: 767px) {
    .logo {
        height: 40px;
        margin-top: -10px;
    }

    .navbar-text {
        padding-top: 0px;
        font-weight: bold;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 15px;
        height: 60px;
        padding-top: 20px;
    }
}

/* Général version rétroprojecteur pourri 1024/768 */
@media only screen and (max-width: 1024px) {
    .navbar {
        font-size: 13px;
    }

    .navbar-default .navbar-nav > li > a {
        height: 105px;
        padding-top: 42px;
    }
}
