/* CSS général */
h1 {
    font-family: 'Croissant One', cursive;
    font-size: 30px;
    text-align: center;
    color: #0d153c;
}

h2 {
    font-family: 'Croissant One', cursive;
    font-size: 25px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

hr {
    border-color : #dbb875;
    margin-left:auto;
    margin-right:auto;
    width:60%;
}


section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.element {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: justify;
}

.illustration {
    float: note;
    text-align: center;
}


/* Carrousel Acceuil*/
.carousel{
    background: #2f4357;
    margin-top: 130px;
    margin-right : 0 auto;
    margin-left: 0 auto;
}
.carousel .item{
    min-height: 600px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.slider{
	margin: 0px;
}
