/* CSS général */
h1 {
    color: #0d153c;
    font-family: 'Croissant One', cursive;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-family: 'Croissant One', cursive;
    font-size: 25px;
    color: #0d153c;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #0d153c;
}

p {
    font-family: 'Open Sans', sans-serif;
    color:#0d153c;
}

hr {
    border-color : #dbb875;
    margin-left:auto;
    margin-right:auto;
    width:60%;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.element {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: justify;
}

.illustration {
    float: note;
    text-align: center;
    width: 250px;
}

