{% extends 'layout.html.twig' %}
{% block title %}Page de localisation{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/localisation.css">{% endblock %}
  {% block content %}
      <section>
          <div class="container-fluid">
          <div class="row" id="titre">
              <div class="col-md-6 col-md-offset-3">
                  <h1>LOCALISATION</h1></br>
                  <p>{{ Local.texte }}</p>
              </div>
          </div>

          <div class="row" id="contenu">
              <div class="col-md-6 col-lg-6" style="text-align:center;">
                  <h1>ADRESSE</h1></br>
                  <button type="button" class="btn btn-localisation btn-lg" aria-label="Left Align">
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                  </button>
                  </br></br>
                  <p>1 quai Mullenheim,</br> 67000 Strasbourg</p>
              </div>

              <div class="col-md-6 col-lg-6" style="text-align:center;">
                  <h1>TELEPHONE</h1></br>
                  <button type="button" class="btn btn-localisation btn-lg" aria-label="Left Align">
                      <span class=" glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                  </button>
                  </br></br>
                  <p>Num.Fixe :<a href="tel:+33308990404"> {{ Local.numFixe }}</a></p>
                  <p>Num.Tél. : <a href="tel:+33678490000">{{ Local.numPortable }}</a></p>
              </div>
          </div>
          </br>
          </br>
          <div class="">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2639.2226708263215!2d7.760848861720499!3d48.58643518554476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c8f8784b185d%3A0xa9fe12d8314bb283!2s1+Quai+Mullenheim%2C+67000+Strasbourg!5e0!3m2!1sfr!2sfr!4v1525251461612" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          </div>
      </section>
  {% endblock %}
